/* COMMON */
.wrapper {
    max-width: 1024px;
    margin: auto;
}

.jumbotron {
    margin: 0;
}

.section_title {
    text-align: center;
    padding: 40px 0;
}

.section_title>h2 {
    color: #031c4e;
}

.section_title>p {
    color: #6c7994;
    font-size: 20px;
}

/* HEADER */

.header_nav {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Logo */
.header_nav a {
    color: black;
    font-size: 13px;
}

.header_logo {
    width: 70%;
}

/* Central Menu */
.header_central_menu {
    text-align: center;
    padding-top: 5px;
}

/* Right Menu */
.header_right_menu {
    text-align: right;
}

/* Buttons */
li>.btn_signup {
    border: 1px solid #408fff;
    color: #408fff;
}

li>.btn_signup:hover {
    background-color: #408fff;
    color: white;
}

.jumbo_form>.btn_account {
    background-color: #579aff;
    color: white;
}

.jumbo_form>.btn_account:hover {
    background-color: #004aff;
}

.jumbo_form>.btn_google {
    background-color: white;
    box-shadow: 1px 1px 3px lightgrey;
    position: relative;
}

.btn_google img {
    max-width: 20px;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 5px;
}

.jumbo_form>.btn_google:hover {
    background-color: lightgrey;
}



/* Burger Menu */
.burger_menu {
    color: #408fff;
    text-align: right;
    font-size: 20px;
    padding-top: 3%;
}

/* MAIN */
/* Jumbotron */

/* Jumbotron Text */
.jumbotron {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
}

.jumbotron .jumbo_text>h1 {
    font-size: 50px;
    color: white;
}

.jumbotron .jumbo_text>p {
    color: #afc5ff;
    font-size: 18px;
}

/* Jumbotron Form */
.jumbo_form {
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.get_started {
    color: #408fff;
}

.jumbo_form>p {
    font-size: 12px;
    padding-top: 10px;
}

/* Logos Section */
.logos {
    background-color: #f3f5f9;
    text-align: center;
    padding-bottom: 40px;
}

.img_logo_container img {
    width: 100%;
    height: auto;
}

.img_logo_container {
    width: calc(( 100% / 6) - 4px );
    display: inline-block;
    padding: 20px 5px;
}

@media all and (max-width: 767px) {
    .img_logo_container {
        width: calc(( 100% / 2) - 4px );
        display: inline-block;
    }
}

.logos h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #6f7b97;
    padding-top: 40px;
}

/* Deploy and scale Section */
.deployments {
    padding: 20px 20px;
}

.deploy_list {
    list-style-type: none;
    border-left: 1px solid #cccccc;
    padding-left: 10px;
    margin-left: 40px;
    margin: 20px 0;
}

@media all and (max-width: 767px) {
    .deploy_list {
        margin-left: 0;
    }
}

.deploy_list li {
    padding: 8px 0;
}

.deploy_list li>a {
    color: #6c7994;
    font-size: 15px;
}

.deplo {
    padding: 0 10px;
}

.deplo>h4 {
    color: #031c4e;
}

.deplo>p {
    color: #6c7994;
}

/* Designed for Developers Section */
.designed {
    background-color: #f3f5f9;
}

